@model OnlineJudge.ViewModels.ProblemViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Problem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statement)
        </dd>
        
    </dl>
    <h4>Code</h4>
    <form method="post" asp-action="CreateCode" asp-controller="Submissions">
        <input style="display:none;" asp-for="Id" value="@Model.Id" />
        <textarea asp-for="code" style="width: 100%; height: 300px;">

        </textarea>
        <!--<input type="text" asp-for="code" style="width: 100%; height: 300px;" />-->
        <input type="submit"  value="Submit"  class="btn btn-primary"/>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
